.bubble {
    width: 50px;
    height: 50px;
    background-color: rgba(200, 20, 20, 0.7);
    border-radius: 50%;
    position: absolute;
    bottom: -100px; /* Start off screen */
    /* Add more styling as needed */
}

.bubble-container {
    position: relative;
    height: 100vh; /* Adjust as needed */
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh); /* Move bubbles up the full height of the container */
    }
}

.bubble {
    animation: float 10s linear infinite;
    /* Randomize animation duration and delay for more natural effect */
    animation-duration: calc(8s + 10s * var(--random));
    animation-delay: calc(-5s * var(--random));
    --random: 0.5;
    bottom: 0
}
